body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 600px;
}

.logo {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

p#result {
    font-size: 18px;
    font-weight: bold;
}

#reportButton {
    margin-bottom: 200px; /* Add margin below report button */
}

.terms-link {
    display: block;
    margin-top: 20px; /* Add space above terms link */
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.terms-link:hover {
    text-decoration: underline;
}


/* Reset default browser styles for select elements */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    appearance: none; /* Remove default appearance (arrow) on Firefox */
    -webkit-appearance: none; /* Remove default appearance (arrow) on Chrome and Safari */
    background-color: #fff;
    color: #333;
}

/* Style the dropdown arrow */
select::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure arrow does not interfere with dropdown click */
}

/* Hover and focus styles */
select:hover,
select:focus {
    border-color: #007bff; /* Change border color on hover and focus */
}
